body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.header {
    background-color: #3498db;
    color: #fff;
    text-align: center;
    padding: 10px;
}

.form-container {
    max-width: 400px;
    margin: 0 auto;
}

.form-group {
    margin-bottom: 20px;
}

.input-field {
    width: 100%;
    padding: 8px;
    margin-top: 4px;
    box-sizing: border-box;
}

.button {
    background-color: #3498db;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 100%;
}

.button:hover {
    background-color: #2980b9;
}

.result {
    margin-top: 20px;
}

.toggle-switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 25px;
}

.toggle-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.toggle-switch label {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ddd;
    border-radius: 24px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.toggle-switch label:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 18px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    border-radius: 50%;
    transition: transform 0.3s;
}

.toggle-switch input:checked + label {
    background-color: #4caf50;
}

.toggle-switch input:checked + label:before {
    transform: translateX(14px);
}
